[Desktop Entry]
Encoding=UTF-8
Name=Link to Preview attachment Online Courses.pptx [PowerPoint] 62 KB
Type=Link
URL=https://mail.google.com/mail/u/0?ui=2&ik=c64e82a54b&attid=0.1&permmsgid=msg-a:r-7154568932232437545&th=174d0c9feeae98d2&view=att&disp=safe&realattid=f_kflffi2x0
Icon=text-html
